h2{
	font-size: 16px;
}

h3{
	font-size: 15px;
}

h4{
	font-size: 14px;
}

table {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
	float: center;
	width: 100%;
  padding: 0; }

  table tr {
    border-top: 0px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: white; }
    table tr th {
      background-color: #cccccc;
      font-weight: bold;
/*      border: 1px solid #cccccc;
*/      text-align: center;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      /*border: 1px solid #cccccc;*/
          border-bottom: 1px solid black;

      text-align: center;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

body{
    font-size:14px;
    word-spacing:1px;
    margin-left:auto;
    margin-right:auto;
   /* font-family:MuseoSans,Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",""Lucida Grande",Helvetica,Arial,sans-serif;            
    color:#000000;Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei",Verdana,sans-serif;*/
    font-family:"HelveticaNeue-Light",'Raleway', "Microsoft YaHei",Trebuchet,MuseoSans,arial,sans-serif,"Hiragino Sans GB",Tahoma;
    background-color:#ffffff;
}

blockquote {
    border-left: 5px solid #DDDDDD;
    color: black;
    padding: 0 15px;
	margin: 15px 0;
}

#indexNav{
	padding-top: 20px;
	float: center;
	font-size: 60px;
	color: white;

}

#indexNav ul {
    display: inline-block;
    list-style-type: none;
    line-height: 70%;
}

#indexNav li a {
    background-color: black;
    color: white;
    padding: 8px 16px;
    text-decoration: none;    
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

#indexNav li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#indexNav li a:hover:before, #indexNav li a:focus:before, #indexNav li a:active:before {
  right: 0;
}

#footer{
	text-align: center;
	color: #cccccc;
	margin-top: 30px;
	margin-bottom: 30px;
}

#tag_cloud{
	width: 200px;
	float: right;
	margin-right: 20px;
	height: 2500px;	
}

#tag_cloud li{
	list-style-type: none;
}

#tagList{
	width: 600px;
	float: left;
}

#container{    
    word-spacing:1px;
    width: 1000px;
    margin:0 auto;
    position: relative;
}


#sidenav{
    list-style-type: none;
	padding-left: -15px;
	margin-top: 100px;
	margin-right: 50px;
	float: left;
	text-align: right;
    width: 350px;
}

#sidenav ul {
    display: inline-block;
    line-height: 70%;
}

#sidenav ul li {
    list-style-type: none;
}

#sidenav li {
    list-style-type: none;
}

#sidenav a{
    text-decoration: none;    
    list-style-type: none;
	line-height: 28px;
	font-size: 24px;
	padding-left: 15px;
	padding-right: 5px;
	color: white;
	background: black;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

#sidenav a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: white;
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#sidenav a:hover:before, #sidenav a:focus:before, #sidenav a:active:before {
  left: 0;
}

#listSideNav{
	margin-top: 30px; 
}

#flashAlphabet {
    padding-top: 80px;
    float: center;
    margin: 0 0 0 0;
    width: 100%;
}

#flashAlphabet table td th tr{
    border: none;
    float: center;
    margin: 0 0 0 0;
    width: 100%;
}

#flashAlphabet a {
        color: white;    /*teal*/
		text-decoration: none;
}

#flashAlphabet td:hover {
		background: black;
        color: white;    /*teal*/
}

#flashAlphabet td.active {
		background: black;
        color: white;    /*teal*/
}


li{
    list-style-type: square;
}


#main{
	margin-top: 30px;
    float:left;
    width: 600px;
}


.listing li{
	list-style-type: none;
}

.listing li a:hover{
	color: white;
	background-color: black;
	text-decoration: underline;


}

.listing li time{
	float: right;
	margin-right: 50px;
	display: none;
	color: #cccccc;
}


.listing li:hover > time{
	display: inline;
}

li time{
	display: none;
}

li:hover > time{
	display: inline;
}

#listPost h2{
	font-size: 14px;
	font-style: normal;
	text-align: center;
	text-decoration: underline;
}

#postTime{
	text-align: right;
	margin-right: 20px;
	margin-bottom: 10px;
	color: #cccccc;
}


a:link {
        color: black;    /*teal*/
		text-decoration: none;
}

a:visited {
        color: black;    /*teal*/
		text-decoration: none;
}

a:hover {
		/*background: black;*/
        color: black;    /*teal*/
		text-decoration: underline;
}

a:active {
        color: black;    /*teal*/
		background: white;
		text-decoration: none;
}
