h2{
	font-size: 16px;
}

h3{
	font-size: 15px;
}

h4{
	font-size: 14px;
}

table {
  padding: 0; }

  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

body{
    font-size:14px;
    word-spacing:1px;
    margin-left:auto;
    margin-right:auto;
   /* font-family:MuseoSans,Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei",Verdana,sans-serif;*/
    font-family:"HelveticaNeue-Light","Microsoft YaHei",arial,sans-serif,"Hiragino Sans GB",Tahoma,"Lucida Grande",Helvetica,Arial,sans-serif;            
    color:#000000;
    background-color:#ffffff;
}

blockquote {
    border-left: 5px solid #DDDDDD;
    color: black;
    padding: 0 15px;
	margin: 15px 0;
}

#indexNav{
	padding-top: 20px;
	float: center;
	font-size:60px;
	color: white;

}

#indexNav li{

	line-height: 100%;
	list-style-type: none;
}

#indexNav a{

	color: white;
	background: black;
	display: inline-block;	
	line-height: 60px;
	width: auto;
	padding-left: 10px;
	padding-right: 20px;
}

#indexNav a:hover{
	border-right: 3px solid black;
	border-bottom: 10px solid black;
}

#footer{
	text-align: center;
	color: #cccccc;
	margin-top: 30px;
	margin-bottom: 30px;
}

#tag_cloud{
	width: 200px;
	float: right;
	margin-right: 20px;
	height: 2500px;	
}

#tag_cloud li{
	list-style-type: none;
}

#tagList{
	width: 600px;
	float: left;
}

#container{    
    word-spacing:1px;
    width: 1000px;
    margin:0 auto;
    position: relative;
}


#sidenav{
	padding-left: -15px;
	margin-top: 100px;
	margin-right: 50px;
	line-height:24px;
	float: left;
	text-align: right;
    width: 350px;
}

#sidenav li{
	line-height: 100%;
	list-style-type: none;
}

#sidenav a{
	display: inline-block;
	line-height: 24px;
	font-size: 24px;
	padding-left: 15px;
	padding-right: 5px;
	color: white;
	background: black;
}

#listSideNav{
	margin-top: 30px; 
}

#sidenav a:hover{		
}


li{
    list-style-type: square;
}


#main{
	margin-top: 30px;
    float:left;
    width: 600px;
}


.listing li{
	list-style-type: none;
}

.listing li a:hover{
	color: white;
	background-color: black;
	text-decoration: underline;


}

.listing li time{
	float: right;
	margin-right: 50px;
	display: none;
	color: #cccccc;
}


.listing li:hover > time{
	display: inline;
}

li time{
	display: none;
}

li:hover > time{
	display: inline;
}

#listPost h2{
	font-size: 14px;
	font-style: normal;
	text-align: center;
	text-decoration: underline;
}

#postTime{
	text-align: right;
	margin-right: 20px;
	margin-bottom: 10px;
	color: #cccccc;
}


a:link {
        color: black;    /*teal*/
		text-decoration: none;
}

a:visited {
        color: black;    /*teal*/
		text-decoration: none;
}

a:hover {
		/*background: black;*/
        color: black;    /*teal*/
		text-decoration: underline;
}

a:active {
        color: black;    /*teal*/
		background: white;
		text-decoration: none;
}
