body{
	font-size: 14px;
	font-family:"HelveticaNeue-Light","Microsoft YaHei",arial,sans-serif,"Hiragino Sans GB",Tahoma,"Lucida Grande",Helvetica,Arial,sans-serif;            
}

#indexNav{
	float: center;
	font-size:60px;
	
}

#indexNav li{
	line-height:68px;
	width:auto;

}



#indexNav a{
	padding-left: 5px;
	padding-right: 15px;
	color: white;
	background: black;
}

#indexNav a:hover{
	text-decoration: underline;

}

#footer{
	text-align: center;
	color: #cccccc;
	margin-top: 30px;
}

#tag_cloud{
	width: 200px;
	float: right;
	margin-right: 20px;
	height: 2500px;
}

#tagList{
	width: 600px;
	float: left;
}

#container{    
    word-spacing:1px;
    width: 1000px;
    margin:0 auto;
    position: relative;
}


#sidenav{
	padding-left: -15px;
	margin-top: 100px;
	margin-right: 50px;
	line-height:24px;
	float: left;
	text-align: right;
    width: 350px;
}

#sidenav li{
	line-height:24px;
	width:auto;
}

#sidenav a{
	font-size: 24px;
	padding-left: 15px;
	padding-right: 5px;
	color: white;
	background: black;
}

#listSideNav{
	margin-top: 30px; 
}

#sidenav a:hover{		
}


li{
    list-style-type: none;
}


#main{
	margin-top: 30px;
    float:left;
    width: 600px;
}


.listing{

}

.listing li a:hover{
	color: white;
	background-color: black;
	text-decoration: underline;
}

.listing li time{
	float: right;
	margin-right: 50px;
	display: none;
	color: #cccccc;
}


.listing li:hover > time{
	display: inline;
}

li time{
	display: none;
}

li:hover > time{
	display: inline;
}

#listPost h2{
	font-size: 14px;
	font-style: normal;
	text-align: center;
	text-decoration: underline;
}

#postTime{
	text-align: right;
	margin-right: 20px;
	margin-bottom: 10px;
	color: #cccccc;
}


a:link {
        color: black;    /*teal*/
		text-decoration: none;
}

a:visited {
        color: black;    /*teal*/
		text-decoration: none;
}

a:hover {
		background: black;
        color: white;    /*teal*/
		text-decoration: underline;
}

a:active {
        color: black;    /*teal*/
		background: white;
		text-decoration: none;
}
