---
layout: default
---
<div id = "sidenav">
  <ul> 
    <li><a href="/" title="Home|首页">PINEAL.ME</a></li>
    <li><a href="/blog" title="Tech|技术">IN A GIANT GUTTER OF</a></li>    
    <li><a href="/article" title="Prose|随笔">OUTTER SPACE </a></li>
	<li><a href="/gallery" title="Gallery|展览">GHETTOS </a></li>
    <li><a href="/about" title="About|关于我">ABOUT </a></li>         
  </ul>
    
	<ul>
	<li><a href="/blog" title="Achieve|随笔">ACHIEVE</a></li>
	<li><a href="/blog/categories" title="categories|分类">CATAGORY</a></li>
    <li><a href="/blog/tags" title="tags|标签">TAGS</a></li>        
	</ul>
</div>
<div id="main">
<section class="post">
{{ content }}
</section>
{% if page.comments %}
{% include comments.md %}
{% endif %}
<div id="footer">Copyright©Hesen Zhang</div>
</div>



